*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #191717;
}

::selection {
  background-color: #fed766;
  color: #191717;
}

li {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #fff;
}

a:visited,
a:link {
  color: #fff;
}

.header {
  padding: 0 5rem;
}
.header__heading-title {
  display: flex;
  flex-direction: column;
  font-size: 8rem;
  font-weight: 900;
  color: #fed766;
  text-shadow: -0.4rem 0 0 #fe4a49;
}

.heading-primary {
  color: #fed766;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.heading-secondary {
  color: #fed766;
  font-size: 6rem;
  font-weight: 900;
}

.quality__paragraphe,
.about__paragraphe {
  font-family: "Catamaran Thin", sans-serif;
  font-size: 2rem;
}

.quality__list {
  font-size: 2rem;
}

.quality__skill--list {
  font-size: 2rem;
}

.contact__side {
  font-family: "Catamaran Thin", sans-serif;
  font-size: 2rem;
}
.contact__side span {
  font-size: 3rem;
}

.footer__copyright {
  font-size: 3rem;
  color: #191717;
}

.center {
  max-width: 144rem;
  margin: 0 auto;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-left-medium {
  margin-left: 4rem !important;
}

.text-center {
  text-align: center;
}

.btn {
  width: fit-content;
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fed766;
  border-radius: 2px;
  font-size: 2rem;
  transition: all 250ms;
}
.btn:hover {
  cursor: pointer;
  translate: -2px -2px;
  box-shadow: 2px 2px 0 #fff;
}
.btn:active {
  translate: 2px 2px;
  color: #fff;
  box-shadow: none;
}

.card__img {
  height: 30rem;
}
.card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form__input {
  font-family: inherit;
  color: #191717;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #009fb7;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #fe4a49;
}
.form__input::placeholder {
  color: #191717;
}
.form__label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  translate: 0 -3rem;
}

.footer {
  background-color: #fed766;
}
.footer__copyright {
  text-align: right;
  padding-right: 2rem;
}

.links {
  position: fixed;
  top: 35rem;
  left: 5rem;
}
.links__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.links__item {
  font-size: 3rem;
  transition: all 200ms;
}
.links__item:hover {
  scale: 1.4;
}
.links__item:active {
  scale: 1.7;
}

.fa-envelope,
.fa-phone,
.fa-linkedin-in,
.fa-github {
  transition: all 450ms;
}

.fa-envelope:hover {
  color: #fe4a49;
}

.fa-phone:hover {
  color: #fed766;
}

.fa-linkedin-in:hover {
  color: #009fb7;
}

.fa-github:hover {
  color: #fe4a49;
}

.navigation {
  position: fixed;
  right: 0;
  padding-top: 5rem;
  padding-right: 5rem;
}
.navigation__list {
  display: flex;
  gap: 2rem;
}
.navigation__item {
  transition: all 200ms;
}
.navigation__item:hover {
  translate: 0.5rem;
}

.section {
  max-width: 114rem;
  margin: 30rem auto;
}
.section__myself {
  margin: 0 auto;
  height: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, transparent 0, transparent 65%, #fed766 65%);
  border-bottom-right-radius: 2px;
}
.section__quality, .section__about {
  padding: 2rem 5rem;
  border-radius: 2px;
}
.section__quality {
  background-color: #fe4a49;
}
.section__about {
  background-color: #009fb7;
}
.section__contact {
  margin-bottom: 15rem;
}

.myself__container-left {
  display: flex;
  flex-direction: column;
}
.myself__img {
  width: 50rem;
  padding: 5rem;
  border-radius: 2px;
  outline: 2px solid #fed766;
  outline-offset: -35px;
}
.myself__img img {
  width: 100%;
  object-fit: cover;
}

.quality__paragraphe {
  text-align: center;
  margin-bottom: 2rem;
}
.quality__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.quality__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}
.quality__img {
  width: 80rem;
  height: 50rem;
}
.quality__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.quality__skill--list {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.quality__skill--item {
  display: flex;
  flex-direction: column;
}
.quality__skill--img {
  display: flex;
  gap: 2rem;
  width: 3rem;
  height: 3rem;
}
.quality__skill--img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.about__paragraphe {
  max-width: 40%;
}
.about__illustration {
  height: 50rem;
}
.about__illustration img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6rem;
  grid-row-gap: 5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__side {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
