@use '../abstract/variables';

.links {
  position: fixed;
  top: 35rem;
  left: 5rem;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__item {
    font-size: variables.$big-font-size;
    transition: all 200ms;
    &:hover {
      scale: 1.4;
    }
    &:active {
      scale: 1.7;
    }
  }
  &__link {
    &:hover {
      transition: all 300ms;
      color: variables.$color-secondary;
    }
  }
}
