.navigation {
  position: fixed;
  right: 0;
  padding-top: 5rem;
  padding-right: 5rem;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    text-align: right;
    transition: all 200ms;
    &:hover {
      translate: -0.5rem;
    }
  }
}
