*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #fe4a49;
  --secondary-color: #fed766;
  --tertiary-color: #009fb7;

  /*--primary-color: #fe4a49;*/
  /*--secondary-color: #009fb7;*/
  /*--tertiary-color: #fed766;*/

  /*--primary-color: #fed766;*/
  /*--secondary-color: #fe4a49;*/
  /*--tertiary-color: #009fb7;*/

  /*--primary-color: #fed766;*/
  /*--secondary-color: #009fb7;*/
  /*--tertiary-color: #fe4a49;*/

  /*--primary-color: #009fb7;*/
  /*--secondary-color: #fe4a49;*/
  /*--tertiary-color: #fed766;*/

  /*--primary-color: #009fb7;*/
  /*--secondary-color: #fed766;*/
  /*--tertiary-color: #fe4a49;*/

  --primary-color-dark-1: #510000;
  --secondary-color-dark-1: #513d00;
  --tertiary-color-dark-1: #004752;

  --light-color: #fff;
  --dark-color: #000;
  --background-color: #191717;

  --font-size-small: 1.2rem;
  --font-size-normal: 1.6rem;
  --font-size-medium: 2rem;
  --font-size-big: 2.4rem;
  --font-size-XXL: 8rem;
}

.center {
  max-width: 144rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  background-color: var(--background-color);
}

body {
  margin: 0 auto;
  font-family: 'JetBrains Mono', monospace;
  font-size: var(--font-size-normal);
  color: var(--light-color);
  box-sizing: border-box;
}

::selection {
  background-color: var(--tertiary-color);
  color: var(--light-color);
}

li {
  list-style-type: none;
}

a:link,
a:visited {
  color: var(--light-color);
  text-decoration: none;
}

.navigation__item {
  transition: all 200ms;
}

.navigation__item:hover {
  translate: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.name {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-XXL);
  font-weight: 900;
  color: var(--secondary-color);
  text-shadow: -0.6rem 0 0 var(--primary-color);
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section__myself {
}

.section__about {
  display: flex;
  flex-direction: row;
}

.section__about--paragraphe {
  flex: 0 0 50%;
}

.img {
  width: 50rem;
}

img {
  width: 100%;
  object-fit: cover;
}
