@use '../abstract/variables';
@use '../abstract/animation';
@use '../abstract/mixins';

.header {
  padding: 0 5rem;

  @include mixins.respond(mid-desktop) {
    padding-left: 2rem;
  }
  @include mixins.respond(tab-land) {
    padding-top: 2rem;
  }

  &__heading-title {
    display: flex;
    flex-direction: column;

    @include mixins.respond(tab-land) {
      align-items: center;
    }
  }
  &__logo {
    position: fixed;
    top: 5rem;
    font-size: variables.$XXL-font-size;
    font-weight: 900;
    transition: all 300ms;
    z-index: 2;

    @include mixins.respond(mid-desktop) {
      font-size: variables.$large-font-size;
    }
    @include mixins.respond(tab-land) {
      font-size: variables.$big-font-size;
    }

    &:hover {
      padding-left: 2rem;
      scale: 1.5;
      color: variables.$color-secondary;
      text-shadow: -0.4rem 0 0 variables.$color-primary;
    }
  }
}

.header__animation {
  animation: scrollDown 350ms ease-in-out;
}
