@use '../abstract/variables';
@use '../abstract/mixins';

.myself {
  &__container-left {
    display: flex;
    flex-direction: column;
    @include mixins.respond(phone) {
      margin-top: 10rem;
    }
  }
  &__img {
    width: 50rem;
    padding: 5rem;
    outline: 2px solid variables.$color-secondary;
    outline-offset: -30px;
    img {
      border-radius: 2px;
      width: 100%;
      object-fit: cover;
    }
  }
}
