@use '../abstract/mixins';

.project {
  &__list {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 5rem;

    @include mixins.respond(tab-land) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.respond(tab-port) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
