@use '../abstract/mixins';

.quality {
  &__paragraphe {
    text-align: center;
    margin-bottom: 2rem;

    @include mixins.respond(mid-desktop) {
      text-align: left;
      margin-bottom: 0;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @include mixins.respond(mid-desktop) {
      flex-direction: column;
      align-items: center;
    }
    @include mixins.respond(phone) {
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;

    @include mixins.respond(mid-desktop) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 2fr;
      grid-column-gap: 5rem;
      grid-row-gap: 0.5rem;
      margin-top: 2rem;
    }

    @include mixins.respond(tab-land) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10rem;
    }

    @include mixins.respond(tab-port) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 4rem;
    }

    @include mixins.respond(phone) {
      display: flex;
    }
  }
  &__img {
    width: 80rem;
    height: 50rem;

    @include mixins.respond(mid-desktop) {
      margin-top: 5rem;
      width: 90%;
      height: 100%;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__skill {
    &--list {
      display: flex;
      justify-content: center;
      gap: 5rem;
      margin-top: 5rem;
      margin-bottom: 2rem;

      @include mixins.respond(mid-desktop) {
        flex-wrap: wrap;
      }
      @include mixins.respond(phone) {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 0.5rem;
      }
    }
    &--item {
      display: flex;
      flex-direction: column;
    }
    &--img {
      display: flex;
      gap: 2rem;
      width: 3rem;
      height: 3rem;

      @include mixins.respond(phone) {
        display: none;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
