@use '../abstract/variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: variables.$color-background;
}

::selection {
  background-color: variables.$color-secondary;
  color: variables.$color-grey-dark-4;
}

li {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}
