@use '../abstract/variables';
@use '../abstract/mixins';

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  line-height: 1.7;
  font-size: variables.$default-font-size;
  color: variables.$color-white;
}

a:visited,
a:link {
  color: variables.$color-white;
}

.header {
  &__heading-title--fullName {
    text-transform: uppercase;
    font-size: variables.$XXL-font-size;
    font-weight: 900;
    color: variables.$color-secondary;
    text-shadow: -0.4rem 0 0 variables.$color-primary;

    @include mixins.respond(mid-desktop) {
      font-size: variables.$large-font-size;
    }
    @include mixins.respond(phone) {
      display: none;
    }
  }

  &__heading-title--phoneName {
    text-transform: uppercase;
    font-size: variables.$XXL-font-size;
    font-weight: 900;
    color: variables.$color-secondary;
    text-shadow: -0.4rem 0 0 variables.$color-primary;

    @include mixins.respond(mid-desktop) {
      font-size: variables.$large-font-size;
    }

    @media only screen and (min-width: 37.5em) {
      display: none;
    }
    @include mixins.respond(phone) {
      display: block;
    }
  }
}

.heading-primary {
  color: variables.$color-secondary;
  font-size: variables.$large-font-size;
  font-weight: 900;
  line-height: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  @include mixins.respond(phone) {
    font-size: variables.$XXL-font-size;
  }
}

.heading-secondary {
  color: variables.$color-secondary;
  font-size: variables.$large-font-size;
  font-weight: 900;

  @include mixins.respond(phone) {
    font-size: variables.$phone-heading-secondary-title-font-size;
  }
}

.popup__paragraph {
  font-family: 'Catamaran Thin', sans-serif;
  font-size: variables.$big-font-size;
}

.links__item {
  font-size: variables.$big-font-size;

  @include mixins.respond(phone) {
    font-size: variables.$large-font-size;
  }
}

.navigation__link {
  font-size: variables.$medium-font-size;

  @include mixins.respond(tab-land) {
    font-size: variables.$big-font-size;
    font-weight: 900;
  }
}

.navigation__item a {
  @include mixins.respond(tab-land) {
    color: variables.$color-grey-dark-4;
  }
}

.quality__paragraphe,
.about__paragraphes,
.project__paragraphe,
.card__description {
  font-family: 'Catamaran Thin', sans-serif;
  font-size: variables.$medium-font-size;
}

.quality__paragraphe {
  color: variables.$color-grey-dark-4;
  font-weight: 700;
}

.quality__list {
  font-size: variables.$medium-font-size;
  color: variables.$color-grey-dark-4;
  font-weight: 900;
}

.quality__skill--list {
  font-size: variables.$medium-font-size;
  color: variables.$color-grey-dark-4;
  font-weight: 900;
}

.card__title {
  font-size: variables.$big-font-size;
  @media (hover: none) and (pointer: coarse) {
    color: variables.$color-secondary;
  }
}

.card__description {
  @include mixins.respond(tab-port) {
    font-size: variables.$big-font-size;
  }
  @include mixins.respond(phone) {
    font-size: variables.$medium-font-size;
  }
  @media (hover: none) and (pointer: coarse) {
    margin-top: 2rem;
  }
}

.card__description--techno {
  font-weight: 600;
}

.contact__side {
  font-family: 'Catamaran Thin', sans-serif;
  font-size: variables.$medium-font-size;
  span {
    font-size: variables.$big-font-size;
  }
}

.form__input {
  font-family: inherit;
  font-size: variables.$medium-font-size;
}

.footer__copyright {
  font-size: variables.$big-font-size;
  font-weight: 900;
  color: variables.$color-grey-dark-4;
}

.btn {
  font-size: variables.$medium-font-size;
}
