.center {
  max-width: 144rem;
  margin: 0 auto;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-left-medium {
  margin-left: 4rem !important;
}

.text-center {
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.specific-font-size {
  font-size: 4rem !important;
}

.arrow-size {
  font-size: 6rem !important;
  font-weight: 900;
}
