@keyframes scrollDown {
  0% {
    translate: 0 -15rem;
  }
  100% {
    translate: 0;
  }
}
@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appearing {
  animation: appearing 4s ease-in-out;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Where our normal styles apply
1800px + :      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid + page layout > components
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 81.25em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #191717;
}

::selection {
  background-color: #fed65d;
  color: #191717;
}

li {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #fff;
}

a:visited,
a:link {
  color: #fff;
}

.header__heading-title--fullName {
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: 900;
  color: #fed65d;
  text-shadow: -0.4rem 0 0 #fe4a49;
}
@media only screen and (max-width: 100em) {
  .header__heading-title--fullName {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__heading-title--fullName {
    display: none;
  }
}
.header__heading-title--phoneName {
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: 900;
  color: #fed65d;
  text-shadow: -0.4rem 0 0 #fe4a49;
}
@media only screen and (max-width: 100em) {
  .header__heading-title--phoneName {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .header__heading-title--phoneName {
    display: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__heading-title--phoneName {
    display: block;
  }
}

.heading-primary {
  color: #fed65d;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 8rem;
  }
}

.heading-secondary {
  color: #fed65d;
  font-size: 6rem;
  font-weight: 900;
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 5rem;
  }
}

.popup__paragraph {
  font-family: "Catamaran Thin", sans-serif;
  font-size: 3rem;
}

.links__item {
  font-size: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .links__item {
    font-size: 6rem;
  }
}

.links__link--cv {
  font-size: 3rem;
  font-weight: 900;
}
@media only screen and (max-width: 37.5em) {
  .links__link--cv {
    font-size: 6rem;
  }
}

.navigation__link {
  font-size: 2rem;
}
@media only screen and (max-width: 81.25em) {
  .navigation__link {
    font-size: 3rem;
    font-weight: 900;
  }
}

@media only screen and (max-width: 81.25em) {
  .navigation__item a {
    color: #191717;
  }
}

.quality__paragraphe,
.about__paragraphes,
.project__paragraphe,
.card__description {
  font-family: "Catamaran Thin", sans-serif;
  font-size: 2rem;
}

.quality__paragraphe {
  color: #191717;
  font-weight: 700;
}

.quality__list {
  font-size: 2rem;
  color: #191717;
  font-weight: 900;
}

.quality__skill--list {
  font-size: 2rem;
  color: #191717;
  font-weight: 900;
}

.card__title {
  font-size: 3rem;
}
@media (hover: none) and (pointer: coarse) {
  .card__title {
    color: #fed65d;
  }
}

@media only screen and (max-width: 56.25em) {
  .card__description {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .card__description {
    font-size: 2rem;
  }
}
@media (hover: none) and (pointer: coarse) {
  .card__description {
    margin-top: 2rem;
  }
}

.card__description--techno {
  font-weight: 600;
}

.contact__side {
  font-family: "Catamaran Thin", sans-serif;
  font-size: 2rem;
}
.contact__side span {
  font-size: 3rem;
}

.form__input {
  font-family: inherit;
  font-size: 2rem;
}

.footer__copyright {
  font-size: 3rem;
  font-weight: 900;
  color: #191717;
}

.btn {
  font-size: 2rem;
}

.center {
  max-width: 144rem;
  margin: 0 auto;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-left-medium {
  margin-left: 4rem !important;
}

.text-center {
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.specific-font-size {
  font-size: 4rem !important;
}

.specific-font-color-white {
  color: #fff;
}

.arrow-size {
  font-size: 6rem !important;
  font-weight: 900;
}

.burger__low-opacity {
  background-color: rgba(254, 214, 93, 0.6) !important;
}

.btn {
  width: fit-content;
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fed65d;
  border-radius: 2px;
  transition: all 250ms;
}
@media (hover: none) and (pointer: coarse) {
  .btn {
    color: #191717;
    text-decoration: none;
    box-shadow: none;
  }
}
@media (hover: hover) {
  .btn:hover {
    cursor: pointer;
    translate: -2px -2px;
    box-shadow: 2px 2px 0 #fff;
  }
  .btn:active {
    translate: 2px 2px;
    color: #fff;
    box-shadow: none;
  }
}

.card {
  position: relative;
  transition: all 300ms;
  z-index: 1;
}
@media (hover: hover) {
  .card:hover {
    scale: 1.03;
  }
  .card:hover .card__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    position: absolute;
    top: 5rem;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 23, 23, 0.9);
  }
}
.card__img {
  height: 30rem;
}
.card__img img {
  border-radius: 2px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (hover: hover) {
  .card__description {
    display: none;
  }
}
.form {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media only screen and (max-width: 37.5em) {
  .form {
    width: 100%;
  }
}
.form__input {
  color: #191717;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #007c8f;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #fe4a49;
}
.form__input::placeholder {
  color: #191717;
}
.form__label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  translate: 0 -3rem;
}

.links {
  position: fixed;
  top: 20rem;
  left: 5rem;
}
@media only screen and (max-width: 100em) {
  .links {
    left: 2rem;
  }
}
@media only screen and (max-width: 81.25em) {
  .links {
    top: 35rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .links {
    top: 11rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .links {
    position: absolute;
    top: 11rem;
  }
}
.links__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .links__list {
    flex-direction: row;
    gap: 5rem;
  }
}
.links__item {
  transition: all 200ms;
}
@media (hover: hover) {
  .links__item:hover {
    scale: 1.4;
  }
  .links__item:active {
    scale: 1.7;
  }
}
.links__link--cv {
  position: relative;
  right: 0.4rem;
  bottom: 0.7rem;
}
@media only screen and (max-width: 37.5em) {
  .links__link--cv {
    right: 0;
    bottom: 0;
  }
}

.fa-envelope,
.fa-phone,
.fa-linkedin-in,
.fa-github,
.links__link--cv {
  transition: all 450ms;
}

@media (hover: hover) {
  .fa-envelope:hover {
    color: #fe4a49;
  }
  .fa-phone:hover {
    color: #fed65d;
  }
  .fa-linkedin-in:hover {
    color: #007c8f;
  }
  .fa-github:hover {
    color: #fe4a49;
  }
  .links__link--cv:hover {
    color: #fed65d;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191717;
  z-index: 1000;
  transition: all 750ms;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.sk-folding-cube {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  margin: 2rem auto;
  width: 8rem;
  height: 8rem;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fed65d;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.navigation {
  position: fixed;
  right: 5rem;
  top: 7.5rem;
  z-index: 4;
}
@media only screen and (max-width: 100em) {
  .navigation {
    right: 2rem;
    top: 4.8rem;
  }
}
@media only screen and (max-width: 81.25em) {
  .navigation {
    top: 0;
    right: -150rem;
    height: 100%;
    width: 100%;
    transition: right 250ms ease;
    background-color: rgba(254, 214, 93, 0.9);
    padding: 8rem 4rem;
    border-radius: 2px;
  }
}
.navigation__list {
  display: flex;
  gap: 5rem;
}
@media only screen and (max-width: 100em) {
  .navigation__list {
    gap: 2.5rem;
  }
}
@media only screen and (max-width: 81.25em) {
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    align-items: center;
  }
}
.navigation__item {
  text-align: right;
  transition: all 250ms;
}
.navigation__item:hover {
  translate: 0 -0.2rem;
}
@media only screen and (max-width: 56.25em) {
  .navigation__item {
    text-align: left;
  }
}
.navigation__link {
  transition: all 250ms;
  border-bottom: 1px solid transparent;
}
.navigation__link:hover {
  border-bottom: 1px solid #fed65d;
}
@media only screen and (max-width: 81.25em) {
  .navigation__link:hover {
    border-bottom: 1px solid #191717;
  }
}

.navigation__position--column {
  flex-direction: column;
  gap: 2rem;
}

.navigation__position--top {
  top: 15rem;
}

.navigation__animation--appearing {
  animation: appearing 500ms ease-in-out;
}

.navigation.active {
  right: 0;
}

.navigation .close {
  position: absolute;
  top: -2rem;
  right: 1rem;
  font-size: 8rem;
  color: #191717;
  transition: scale 250ms ease-in-out;
}
.navigation .close:hover {
  scale: 1.1;
}

@media only screen and (max-width: 81.25em) {
  .burger-link {
    z-index: 3;
    position: fixed;
    top: 5rem;
    right: 2rem;
    transition: scale 200ms ease;
    border-radius: 2px;
    background: #fed65d;
    box-shadow: 0 0 2rem #333;
    padding: 0.5rem 1rem;
  }
}
@media only screen and (max-width: 81.25em) and (hover: hover) {
  .burger-link:hover {
    scale: 1.1;
    box-shadow: 0 0 3rem #333;
  }
}

.burger-icon span {
  display: none;
  width: 4.5rem;
  height: 0.4rem;
  background-color: #000;
  margin: 1rem 0;
}
@media only screen and (max-width: 81.25em) {
  .burger-icon span {
    display: block;
  }
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(25, 23, 23, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 100em) {
  .about__container {
    flex-direction: column-reverse;
  }
}
.about__paragraphes {
  max-width: 40%;
}
@media only screen and (max-width: 100em) {
  .about__paragraphes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;
    max-width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .about__paragraphes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1rem;
    max-width: 100%;
  }
}
.about__paragraphe {
  padding: 2rem 0;
}
.about__illustration {
  width: 100%;
}
@media only screen and (max-width: 100em) {
  .about__illustration {
    margin-top: 5rem;
    width: 70%;
  }
}
.about__illustration img {
  padding-bottom: 7rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 100em) {
  .about__illustration img {
    padding-bottom: 0;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .contact {
    margin: 0 5rem;
  }
}
.contact__side {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #fed65d;
}
.footer__copyright {
  text-align: right;
  padding-right: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__copyright {
    padding: 5rem;
    text-align: center;
  }
}

.header {
  padding: 0 5rem;
}
@media only screen and (max-width: 100em) {
  .header {
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 81.25em) {
  .header {
    padding-top: 2rem;
  }
}
.header__heading-title {
  display: flex;
  flex-direction: column;
}
.header__logo {
  position: fixed;
  top: 5rem;
  font-size: 8rem;
  font-weight: 900;
  transition: all 300ms;
  z-index: 2;
}
@media only screen and (max-width: 100em) {
  .header__logo {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 81.25em) {
  .header__logo {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    display: none;
  }
}
@media (hover: hover) {
  .header__logo:hover {
    padding-left: 2rem;
    scale: 1.5;
    color: #fed65d;
    text-shadow: -0.4rem 0 0 #fe4a49;
  }
}

.header__animation {
  animation: scrollDown 350ms ease-in-out;
}

.myself__container-left {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 37.5em) {
  .myself__container-left {
    margin-top: 10rem;
  }
}
.myself__img {
  width: 50rem;
  padding: 5rem;
  outline: 2px solid #fed65d;
  outline-offset: -30px;
}
@media only screen and (max-width: 37.5em) {
  .myself__img {
    width: 100%;
    margin-top: 5rem;
  }
}
.myself__img img {
  border-radius: 2px;
  width: 100%;
  object-fit: cover;
}

.project__list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6rem;
  grid-row-gap: 5rem;
}
@media only screen and (max-width: 81.25em) {
  .project__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 56.25em) {
  .project__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.quality__paragraphe {
  text-align: center;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 100em) {
  .quality__paragraphe {
    text-align: left;
    margin-bottom: 0;
  }
}
.quality__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media only screen and (max-width: 100em) {
  .quality__container {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .quality__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}
.quality__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}
@media only screen and (max-width: 100em) {
  .quality__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 5rem;
    grid-row-gap: 0.5rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 81.25em) {
  .quality__list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .quality__list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .quality__list {
    display: flex;
  }
}
.quality__img {
  width: 80rem;
  height: 50rem;
}
@media only screen and (max-width: 100em) {
  .quality__img {
    margin-top: 5rem;
    width: 90%;
    height: 100%;
  }
}
.quality__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.quality__skill--list {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 100em) {
  .quality__skill--list {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 37.5em) {
  .quality__skill--list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0.5rem;
  }
}
.quality__skill--item {
  display: flex;
  flex-direction: column;
}
.quality__skill--img {
  display: flex;
  gap: 2rem;
  width: 3rem;
  height: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .quality__skill--img {
    display: none;
  }
}
.quality__skill--img img {
  object-fit: cover;
  height: 100%;
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    text-align: center;
  }
}

.section {
  max-width: 114rem;
  margin: 25rem auto;
  scroll-margin-top: 2rem;
}
@media only screen and (max-width: 100em) {
  .section {
    max-width: 95rem;
  }
}
@media only screen and (max-width: 81.25em) {
  .section {
    margin: 20rem 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section {
    margin: 10rem auto;
    width: 100%;
  }
}
.section__myself {
  margin: 0 auto;
  height: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, transparent 0, transparent 65%, #fed65d 65%);
  border-bottom-right-radius: 2px;
}
@media only screen and (max-width: 81.25em) {
  .section__myself {
    flex-direction: column;
    height: 100%;
    width: 80%;
    background-image: linear-gradient(to right bottom, transparent 0, transparent 70%, #fed65d 70%);
  }
}
.section__quality, .section__about {
  padding: 3rem 5rem;
  border-radius: 2px;
}
.section__quality {
  background-color: #fe4a49;
}
.section__about {
  background-color: #007c8f;
}
.section__project {
  scroll-margin-top: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .section__project {
    padding: 0 5rem;
  }
}
.section__contact {
  scroll-margin-top: 0;
  margin-bottom: 15rem;
}

/*# sourceMappingURL=style.comp.css.map */
