// COLOR
$color-primary: #fe4a49;
$color-secondary: #fed766;
$color-tertiary: #009fb7;

$color-primary-dark: #510000;
$color-secondary-dark: #513d00;
$color-tertiary-dark: #004752;

$color-background: #191717;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #191717;

$color-white: #fff;
$color-black: #000;

// FONT
$small-font-size: 1.2rem;
$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$big-font-size: 3rem;
$large-font-size: 6rem;
$XXL-font-size: 8rem;
