@use '../abstract/variables';

.section {
  max-width: 114rem;
  margin: 0 auto 5rem auto;

  &__myself {
    background-image: linear-gradient(
      to right bottom,
      transparent 0,
      transparent 65%,
      variables.$color-secondary 65%
    );
    display: flex;
    justify-content: space-between;

    &--container {
      padding: 5rem 0;
    }

    &--img {
      width: 35rem;
      padding: 5rem;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__about {
    &--qualities {
      display: flex;
      gap: 2rem;
      margin: 2rem 0;
    }
  }
}
