@use '../abstract/variables';

.section {
  max-width: 114rem;
  margin: 30rem auto;
  &__myself {
    margin: 0 auto;

    height: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;

    background-image: linear-gradient(
      to right bottom,
      transparent 0,
      transparent 65%,
      variables.$color-secondary 65%
    );
    border-bottom-right-radius: 2px;
  }
  &__quality,
  &__about {
    padding: 2rem 5rem;
    border-radius: 2px;
  }
  &__quality {
    background-color: variables.$color-primary;
  }
  &__about {
    background-color: variables.$color-tertiary;
  }
  &__contact {
    margin-bottom: 15rem;
  }
}
