@use '../abstract/variables';

.btn {
  width: fit-content;
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: variables.$color-secondary;
  border-radius: 2px;
  font-size: variables.$medium-font-size;
  transition: all 250ms;
  &:hover {
    cursor: pointer;
    translate: -2px -2px;
    box-shadow: 2px 2px 0 variables.$color-white;
  }
  &:active {
    translate: 2px 2px;
    color: variables.$color-white;
    box-shadow: none;
  }
}
