@use '../abstract/variables';

.btn {
  width: fit-content;
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: variables.$color-secondary;
  border-radius: 2px;
  transition: all 250ms;

  @media (hover: none) and (pointer: coarse) {
    color: variables.$color-grey-dark-4;
    text-decoration: none;
    box-shadow: none;
  }
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      translate: -2px -2px;
      box-shadow: 2px 2px 0 variables.$color-white;
    }
    &:active {
      translate: 2px 2px;
      color: variables.$color-white;
      box-shadow: none;
    }
  }
}
