@use '../abstract/variables';
@use '../abstract/mixins';

.links {
  position: fixed;
  top: 20rem;
  left: 5rem;

  @include mixins.respond(mid-desktop) {
    left: 2rem;
  }
  @include mixins.respond(tab-land) {
    top: 35%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__item {
    font-size: variables.$big-font-size;
    transition: all 200ms;
    &:hover {
      scale: 1.4;
    }
    &:active {
      scale: 1.7;
    }
  }
}

.fa-envelope,
.fa-phone,
.fa-linkedin-in,
.fa-github {
  transition: all 450ms;
}

.fa-envelope {
  &:hover {
    color: variables.$color-primary;
  }
}
.fa-phone {
  &:hover {
    color: variables.$color-secondary;
  }
}
.fa-linkedin-in {
  &:hover {
    color: variables.$color-tertiary;
  }
}
.fa-github {
  &:hover {
    color: variables.$color-primary;
  }
}
