@use '../abstract/variables';
@use '../abstract/mixins';

.heading-secondary {
  @include mixins.respond(phone) {
    text-align: center;
  }
}

.section {
  max-width: 114rem;
  margin: 30rem auto;
  scroll-margin-top: 2rem;

  @include mixins.respond(mid-desktop) {
    max-width: 95rem;
  }

  @include mixins.respond(tab-land) {
    margin: 20rem 10rem;
  }
  @include mixins.respond(phone) {
    margin: 10rem auto;
    width: 100%;
  }

  &__myself {
    margin: 0 auto;
    height: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;

    background-image: linear-gradient(
      to right bottom,
      transparent 0,
      transparent 65%,
      variables.$color-secondary 65%
    );
    border-bottom-right-radius: 2px;

    @include mixins.respond(tab-land) {
      flex-direction: column;
      height: 100%;
      width: 80%;

      background-image: linear-gradient(
        to right bottom,
        transparent 0,
        transparent 70%,
        variables.$color-secondary 70%
      );
    }
  }

  &__quality,
  &__about {
    padding: 1rem 5rem;
    border-radius: 2px;
  }

  &__quality {
    background-color: variables.$color-primary;
  }

  &__about {
    background-color: variables.$color-tertiary;
  }

  &__project {
    scroll-margin-top: 2rem;
  }

  &__contact {
    scroll-margin-top: 0;
    margin-bottom: 15rem;
  }
}
